@model List<WeReview.Models.GitHubBranch>

@{ 
    WeReview.Models.GitHubRepository repo = (WeReview.Models.GitHubRepository)ViewData["Repo"];
}

<h2>@(repo.FullName)</h2>

<h3>Branches:</h3>

@foreach(WeReview.Models.GitHubBranch b in Model)
{
    <p><a href="/Branch/Index?id=@(b.BranchId)">@(b.Name)</a></p>
}