/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    z-index: 1;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

code.rejected-line {
    white-space: pre;
    color: #c7254e;
    background-color: #f9f2f4;
}

code.approved-line {
    white-space: pre;
    color: #368a2f;
    background-color: #c5fcc0;
}

code.unchanged-line {
    white-space: pre;
    color: #000000;
    background-color: #ffffff;
}

code.selected-line {
    white-space: pre;
    color: #2f528a;
    background-color: #b4cffa;
}

code.unapproved-line {
    white-space: pre;
    color: #61581b;
    background-color: #f7eb97;
}

#floating-form {
    position: fixed;
    top: 10em;
    right: 3em;
    z-index: 2;
    background-color: #333333;
    padding: 1em;
    border-radius: 3%;
}